h2{
    background-color: blue;
}
p{
    background-color: lawngreen;
}

h1 {
    background-color: seagreen;
}

body{
    padding-bottom: 500px
}

.class{
    border-bottom: 1px solid red;
    padding: 2em;
    margin-bottom: 1em;
}